#x {
    color: red;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
    text-align: center;
}

td {
    padding: 1% 0 1% 0.5% !important;
}

.firstTD {
    width: 5%;
    text-align: center;
}

.btnUpdate {
    margin-left: 12px;
    width: 80%;
}

