.detailsPage {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-right: 3.2%;
}

.input {
    margin: 1% 2%;
    padding: 0 1%;
    height: 33px;
}
.text {
    color: black;
    font-size: 18px;
    margin-left: 5%;
}
.group-row {
    background-color: lightgray;
    margin: 0.5% 10%; 
    display: flex;
}
.col {
    text-align: start;
    margin: 1%;
    padding: 0 0 0 1%;
    white-space: nowrap;
}
#btn {
    max-height: 32px;
    text-align: center;
    font-weight: normal;
    font-size: 14px !important;
    max-width: 25% !important;
}

@media screen and (max-width: 1000px) {
    .group-row {
       margin: 1%;  
    }
  }